<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}">

<body>
  <div layout:fragment="content" th:fragment="content">
    <main class="main">
      <div class="container-fluid mt-2">
        <form id="formSupplierEdit" th:object="${supplier}">
          <input type="hidden" name="supplierId" id="supplier_id" th:field="*{supplierId}" />
          <div class="card p-2">
            <div class="card-body">
              <div class="row g-3">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="lbl-normal">Kode (readonly)</label>
                    <div class="form-field">
                      <input type="text" class="form-control input-underline" id="supplier_code" name="supplierCode"
                        readonly placeholder="P-0001" th:field="*{supplierCode}" />
                      <small class="text-danger" id="err-supplierCode"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Nama*</label>
                    <div class="form-field">
                      <input type="text" d="supplier_name" name="supplierName" class="form-control input-underline"
                        placeholder="PT ABC, Toko Bintang " th:field="*{supplierName}" />
                      <small class="text-danger" id="err-supplierName"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Npwp</label>
                    <div class="form-field">
                      <input type="text" id="supplier_npwp" name="supplierNpwp" class="form-control input-underline "
                        placeholder="Nomor Pokok Wajib Pajak" th:field="*{supplierNpwp}" />
                      <small class="text-danger" id="err-supplierNpwp"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Pkp <span class="text-danger">*</span></label>
                    <div class="form-field">
                      <select id="supplier_pkp" name="supplierPkp" class="form-select select-underline"
                        th:field="*{supplierPkp}">
                        <option value="" disabled selected>
                          -- Pilih Status PKP --
                        </option>
                        <option value="true">Ya</option>
                        <option value="false">Tidak</option>
                      </select>
                      <small class="text-danger" id="err-supplierPkp"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Tipe*</label>
                    <div class="form-field">
                      <select id="supplier_type" name="supplierType" class="form-select select-underline"
                        aria-label="Default select example" th:field="*{supplierType}">
                        <option value="" disabled selected>
                          -- Pilih Tipe Supplier --
                        </option>
                        <option value="Material">Material</option>
                        <option value="Service">Service</option>
                        <option value="Equipment">Equipment</option>
                        <option value="Subcontractor">Subcontractor</option>
                      </select>
                      <small class="text-danger" id="err-supplierType"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label style="padding-top: 5px" class="lbl-normal">Alamat</label>
                    <div class="form-field">
                      <textarea id="supplier_address" name="supplierAddress" class="form-control input-underline"
                        rows="1"
                        placeholder="Jl. ZA. Pagar Alam, Gedong Meneng, Kec. Rajabasa, Kota Bandar Lampung, Lampung 35141"
                        th:field="*{supplierAddress}"></textarea>
                      <small class="text-danger" id="err-supplierAddress"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Kota</label>
                    <div class="form-field">
                      <input type="text" id="supplier_city" name="supplierCity" class="form-control input-underline"
                        placeholder="Bandar Lampung" th:field="*{supplierCity}" />
                      <small class="text-danger" id="err-supplierCity"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Provinsi</label>
                    <div class="form-field">
                      <input type="text" id="supplier_province" name="supplierProvince"
                        class="form-control input-underline " placeholder="Lampung" th:field="*{supplierProvince}" />
                      <small class="text-danger" id="err-supplierProvince"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Kode Pos</label>
                    <div class="form-field">
                      <input type="text" id="supplier_postal_code" name="supplierPostalCode"
                        class="form-control input-underline" placeholder="12345" th:field="*{supplierPostalCode}" />
                      <small class="text-danger" id="err-supplierPostalCode"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Negara</label>
                    <div class="form-field">
                      <input type="text" id="supplier_country" name="supplierCountry"
                        class="form-control input-underline" placeholder="Indonesia" th:field="*{supplierCountry}" />
                      <small class="text-danger" id="err-supplierCountry"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Nama Kontak</label>
                    <div class="form-field">
                      <input type="text" id="supplier_contact_person" name="supplierContactPerson"
                        class="form-control input-underline" placeholder="Syahrini"
                        th:field="*{supplierContactPerson}" />
                      <small class="text-danger" id="err-supplierContactPerson"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Handphone</label>
                    <div class="form-field">
                      <input type="text" id="supplier_contact_phone" name="supplierContactPhone"
                        class="form-control input-underline" placeholder="085269530000"
                        th:field="*{supplierContactPhone}" />
                      <small class="text-danger" id="err-supplierContactPhone"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Email</label>
                    <div class="form-field">
                      <input type="email" id="supplier_email" name="supplierEmail" class="form-control input-underline"
                        placeholder="jayamajubersama@gmail.com" th:field="*{supplierEmail}" />
                      <small class="text-danger" id="err-supplierEmail"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Nama Bank</label>
                    <div class="form-field">
                      <input type="text" id="supplier_bank_name" name="supplierBankName"
                        class="form-control input-underline" placeholder="BNI" th:field="*{supplierBankName}" />
                      <small class="text-danger" id="err-supplierBankName"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">No. Rekening</label>
                    <div class="form-field">
                      <input type="text" id="supplier_bank_account_number" name="supplierBankAccountNumber"
                        class="form-control input-underline" placeholder="0123456789"
                        th:field="*{supplierBankAccountNumber}" />
                      <small class="text-danger" id="err-supplierBankAccountNumber"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Pemilik</label>
                    <div class="form-field">
                      <input type="text" id="supplier_bank_account_name" name="supplierBankAccountName"
                        class="form-control input-underline" placeholder="Contoh : PT Jaya Maju Bersama"
                        th:field="*{supplierBankAccountName}" />
                      <small class="text-danger" id="err-supplierBankAccountName"></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="detail-actions">
            <button type="submit" class="btn btn-simpan"> Simpan</button>
            <a th:href="@{/supplier}" class="btn btn-batal"
              onclick="event.preventDefault(); library.navigate('/supplier')">Batal
            </a>
          </div>
        </form>
      </div>
    </main>
  </div>
</body>

</html>