<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Proyek Baru')}"></div>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="detail-container">
            <form id="formProject">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Po/ SPK</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control" id="project_code" name="projectCode"
                                            placeholder="Contoh: PO/2026/08/0142, sesuaikan dengan no po anda"> <small
                                            class="text-danger" id="err-projectCode"> </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Tanggal</label>
                                    <div class="form-field">
                                        <input type="date" id="po_date" name="poDate" class="form-control">
                                        <small class="text-danger" id="err-poDate"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Nama</label>
                                    <div class="form-field">
                                        <input type="text" id="name" name="name" class="form-control">
                                        <small class="text-danger" id="err-name"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Klien</label>
                                    <div class="form-field">
                                        <select id="client_id" name="clientId" class="form-control form-control-sm">
                                        </select>
                                        <small class="text-danger" id="err-clientId"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Deskripsi</label>
                            <div class="form-field">
                                <textarea name="description" id="description" class="form-control form-control-sm"
                                    rows="3" placeholder="Contoh: Pekerjaan Pembuatan gudang"></textarea>
                                <small class="text-danger" id="err-name"></small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Jenis Proyek <span class="text-danger">*</span></label>
                                    <div class="form-field">
                                        <select id="project_type" name="projectType"
                                            class="form-control form-control-sm">
                                            <option value="">-- Pilih Jenis Proyek --</option>
                                            <option value="Konstruksi">Konstruksi & Bangunan</option>
                                            <option value="Sipil">Sipil & Infrastruktur</option>
                                            <option value="Elektrikal">Mekanikal & Elektrikal (MEP)</option>
                                            <option value="Pengadaan">Pengadaan Barang (Procurement)</option>
                                            <option value="Konsultansi">Konsultansi & Perencanaan</option>
                                            <option value="Renovasi">Renovasi & Perawatan (Maintenance)</option>
                                            <option value="IT">Teknologi Informasi (IT)</option>
                                            <option value="Multi-Disiplin">Multi-Disiplin / EPC (Campuran)</option>
                                            <option value="General">General / Lain-lain</option>
                                        </select>
                                        <small class="text-danger" id="err-projectType"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Lokasi</label>
                                    <div class="form-field">
                                        <input type="text" id="location" name="location"
                                            class="form-control form-control-sm" placeholder="Lampung" />
                                        <small class="text-danger" id="err-location"></small>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="mb-3">
                            <label>Nilai Kontrak</label>
                            <div class="form-field">
                                <input type="text" id="contract_value" name="contractValue"
                                    class="form-control form-control-sm" placeholder="100.000.000" />
                                <small class="text-danger" id="err-contractValue"></small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Kena PPN 12% ? <span class="text-danger">*</span></label>
                            <div class="form-field">
                                <select id="tax_type" name="taxType" class="form-control form-control-sm">
                                    <option value="">-- Pilih Skema PPN --</option>
                                    <option value="EXCLUSIVE">Nilai di atas BELUM termasuk PPN (Exclusive)</option>
                                    <option value="INCLUSIVE">Nilai di atas SUDAH termasuk PPN (Inclusive)</option>
                                    <option value="NON_PPN">Nilai di atas TIDAK kena PPN</option>
                                </select>
                                <small class="text-danger" id="err-taxType"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class=" detail-actions">
                        <button type="submit" class="btn btn-primary">
                            Simpan
                        </button>
                        <a th:href="@{/project}" class="btn btn-danger">Batal
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}">
    </div>
    <script th:src="@{/js/utility/dashboard.js}"></script>

    <script type="module" th:inline="javascript">
        const projectModel = {

            init: function () {
                this.bindEvents();
            },

            bindEvents: function () {
                const self = this;
                self.showClient();
                const form = document.getElementById("formProject");
                if (form) {
                    console.log("Form formProject ditemukan, memasang event listener...");
                    form.addEventListener("submit", function (e) {
                        e.preventDefault();
                        console.log("Submit terdeteksi!");
                        self.createNewProject(this);
                    });
                } else {
                    console.warn("Elemen #formProject tidak ditemukan di DOM saat init!");
                }

                // if (accountType) {
                //     accountType.addEventListener("change", function () {
                //         let val = this.value;
                //         if (val === "CASH") {
                //             // alert(val) #d9d1d1
                //             bankName.readOnly = true;
                //             bankName.style.background = "#d9d1d1";

                //             bankBranch.readOnly = true;
                //             bankBranch.style.background = "#d9d1d1";

                //             accountNumber.readOnly = true;
                //             accountNumber.style.background = "#d9d1d1";

                //             accountHolder.readOnly = true;
                //             accountHolder.style.background = "#d9d1d1";

                //             // kosongkan field
                //             document.getElementById("bank_name").value = "";
                //             document.getElementById("bank_branch").value = "";
                //             document.getElementById("account_number").value = "";
                //             document.getElementById("account_holder").value = "";
                //         } else {
                //             bankName.readOnly = false;
                //             bankName.style.background = "#ffff";

                //             bankBranch.readOnly = false;
                //             bankBranch.style.background = "#ffff";

                //             accountNumber.readOnly = false;
                //             accountNumber.style.background = "#ffff";

                //             accountHolder.readOnly = false;
                //             accountHolder.style.background = "#ffff";
                //         }

                //         // self.showClient(val);
                //     });
                // }
            },

            showClient: async function () {
                try {
                    const json = await api.get(`/api/v1/project/clients`);
                    if (json.status === "success") {
                        const selectElement = document.getElementById('client_id');
                        selectElement.innerHTML = '<option value="">-- Pilih Klien --</option>';
                        const coaList = json.data;
                        coaList.forEach(client => {
                            const option = document.createElement('option');
                            option.value = client.clientId;
                            option.textContent = `${client.clientName}`;
                            selectElement.appendChild(option);
                        });
                    }
                } catch (e) {
                    console.log("error project")
                }
            },

            createNewProject: async function (formEl) {
                const formData = new FormData(formEl);
                const payload = Object.fromEntries(formData.entries());
                this.showErrors({}, formEl);

                try {

                    const result = await api.post(`/api/v1/project`, payload, "Menyimpan Data...");
                    if (result && result.success !== false) {
                        await Toast.fire({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: result.message,
                            timer: 3000,
                            showConfirmButton: false
                        });
                        setTimeout(() => {
                            // window.location.href = '/project';
                        }, 500);
                        return result;
                    } else {
                        throw new Error(result?.message || 'Gagal Menyimpan data');
                    }
                } catch (err) {
                    console.log("Full Error Object = ", err);
                    const errors = err?.errors || err?.data?.errors;
                    if (errors) {
                        this.showErrors(errors, formEl);
                        Toast.fire({
                            icon: 'error',
                            title: 'Gagal Menyimpan Data, Periksa inputan'
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: err.message,
                        });
                    }
                    throw errors;
                }
            },

            showErrors: function (errors, formEl) {
                if (!formEl) return; // 🔥 guard biar gak error lagi

                // 🔥 reset hanya di form ini
                formEl
                    .querySelectorAll(".is-invalid")
                    .forEach((i) => i.classList.remove("is-invalid"));

                formEl
                    .querySelectorAll('[id^="err-"]')
                    .forEach((e) => (e.innerText = ""));

                // 🔥 set error
                for (const field in errors) {
                    const input = formEl.querySelector(`[name = "${field}"]`);
                    const errorEl = formEl.querySelector("#err-" + field);

                    if (input) input.classList.add("is-invalid");
                    if (errorEl) errorEl.innerText = errors[field];
                }
            },
        };

        window.projectModel = projectModel;
        projectModel.init();
    </script>
</body>

</html>