<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Daftar Proyek')}"></div>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="container-fluid py-1">

            <!-- TABLE CARD -->
            <div class="card border-0 shadow-sm">
                <div class="card-body border-bottom">
                    <div class="row g-3 align-items-center">
                        <div class="col-12 col-md-12">
                            <div class="d-flex gap-2 align-items-center flex-wrap">
                                <div class="input-group" style="flex: 1; min-width: 200px;">
                                    <input type="search" id="searchProject" class="form-control"
                                        placeholder="search nama...">
                                </div>
                                <a th:href="@{/project/new}" class="btn btn-primary" style="white-space: nowrap;">
                                    <i class="bi bi-plus-lg"></i> Proyek baru
                                </a>
                                <button type="button" id="btn-refresh" class="btn btn-success"
                                    style="white-space: nowrap;">
                                    <i class="bi bi-arrow-clockwise"></i> Refresh
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- TABLE -->
                <div class="table-responsive" id="project-wrapper">
                    <table class="table table-hover align-middle mb-0" id="project">
                        <thead class="table-light">
                            <tr>
                                <th class="resizer" style="width: 150px">PO/SPK</th>
                                <th class="resizer" style="width: 180px">TGL-PO/SPK</th>
                                <th class="resizer" style="width: 180px">PROYEK</th>
                                <th class="resizer" style="width: 150px">TIPE</th>
                                <th class="resizer" style="width: 150px">KLIEN</th>
                                <th class="resizer" style="width: 150px">NILAI</th>
                                <th class="resizer" style="width: 100px">STATUS</th>
                                <th class="resizer" style="width: 100px">PROGRESS</th>
                                <th class="resizer" style="width: 70px">AKSI</th>
                            </tr>
                        </thead>
                        <tbody id="project-table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}">
    </div>
    <script th:src="@{/js/utility/dashboard.js}"></script>
    <script type="module" th:inline="javascript">
        import { library } from '/js/utility/library.js';
        const clientModel = {
            cursorCreatedAt: null,
            cursorId: null,
            hasNext: true,
            loading: false,
            limit: 13,
            resizableInit: false,
            allData: [],

            formatRupiah: function (value) {
                // Gunakan library yang di-import
                return library.formatRupiah(value);
            },

            setTableHeight: function (id_wrapper, id_table) {
                return library.setTableHeight(id_wrapper, id_table);
            },

            init: function () {
                const self = this;
                const wrapperId = document.getElementById("project-wrapper");
                self.findById("", true);
                self.initScroll(wrapperId); // 🔥 pasang di sini
                this.refResh()

                const searchInput = document.getElementById('searchProject');
                if (searchInput) {
                    searchInput.addEventListener('input', function (e) {
                        const keyword = e.target.value;
                        console.log("Kata Kunci", keyword)
                        self.findById(keyword, true);
                    });

                    // Clear search dengan tombol ESC
                    searchInput.addEventListener('keydown', function (e) {
                        const key = e.key;
                        // ✅ Deteksi ESC, Backspace, atau Delete
                        if (key === 'Escape' || key === 'Backspace' || key === 'Delete') {
                            e.target.value = '';
                            self.findById('', true);
                            e.target.blur();
                        }
                    });
                }
            },

            refResh: function () {
                const btnRefresh = document.getElementById("btn-refresh");
                btnRefresh.onclick = () => {
                    this.findById("", true);
                }
            },

            initScroll: function (wrapper) {
                if (this.scrollInitialized) return;
                this.scrollInitialized = true;
                let lastScrollTop = 0;
                wrapper.addEventListener("scroll", () => {
                    const scrollTop = wrapper.scrollTop;
                    const isScrollingDown = scrollTop > lastScrollTop;
                    lastScrollTop = scrollTop;
                    const nearBottom =
                        scrollTop + wrapper.clientHeight >= wrapper.scrollHeight - 50;
                    if (isScrollingDown && nearBottom && !this.loading && this.hasNext) {
                        console.log("LOAD NEXT PAGE");
                        this.findById("", false);
                    }
                });
            },

            findById: async function (keyword = "", reset = false) {
                if (this.loading) return;
                if (!this.hasNext && !reset) return;
                const tbody = document.getElementById("project-table-body");
                const statusMsg = "";

                if (reset) {
                    this.cursorCreatedAt = null;
                    this.cursorId = null;
                    this.hasNext = true;
                    tbody.innerHTML = "";
                }

                this.loading = true;
                UI.showSkeleton("project-table-body", 10);

                try {
                    const params = new URLSearchParams({
                        keyword: keyword,
                        limit: this.limit,
                    });

                    if (this.cursorCreatedAt && this.cursorId) {
                        params.append("lastCreatedAt", this.cursorCreatedAt);
                        params.append("lastId", this.cursorId);
                    }

                    const [json] = await Promise.all([
                        api.get(`/api/v1/project?${params.toString()}`),
                        new Promise((resolve) => setTimeout(resolve, 1000)),
                    ]);

                    if (json && json.status === "success") {
                        const res = json.data;
                        UI.hideSkeleton();

                        const newBatch = res.data;
                        //GABUNGKAN DATA: Jika reset, buat baru. Jika scroll, tambah ke belakang.
                        if (reset) {
                            this.allData = newBatch;
                        } else {
                            this.allData = [...(this.allData || []), ...newBatch];
                        }

                        // Kirim 'this.allData.length' untuk tahu posisi index awal batch ini
                        const startIndex = reset
                            ? 0
                            : this.allData.length - newBatch.length;
                        this.renderTable(newBatch, reset, startIndex);

                        // Update metadata paging dari res

                        console.log("res ", res);
                        // console.log("new Batch ", newBatch)

                        this.cursorCreatedAt = res.nextCreatedAt;
                        this.cursorId = res.nextId;
                        this.hasNext = res.hasNext;

                        console.log(" cursorId =", this.cursorId);
                        console.log(" hasNext =", this.hasNext);
                    }
                    this.setTableHeight("project-wrapper", "project");
                } catch (err) {
                    tbody.innerHTML = `<tr><td colspan="13" class="text-center text-danger">Error: ${err.message}</td></tr>`;
                    UI.hideSkeleton();
                } finally {
                    this.loading = false;
                    UI.hideSkeleton();
                }
            },

            renderTable: function (data, isReset = false, startIndex = 0) {
                const tbody = document.getElementById("project-table-body");

                if (!data || data.length === 0) {
                    if (isReset) {
                        tbody.innerHTML =
                            '<tr><td colspan="13" class="text-center py-3">No data available</td></tr>';
                    }
                    return;
                }

                if (isReset) {
                    tbody.innerHTML = "";
                }

                const bulan = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni',
                    'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];

                let rowsHtml = "";
                data.forEach((row, i) => {
                    const globalIndex = startIndex + i;
                    const [tahun, bulanIndex, hari] = row.poDate.split('-');
                    const tanggalFormatted = `${parseInt(hari)} ${bulan[parseInt(bulanIndex) - 1]} ${tahun}`;
                    rowsHtml += `
                    <tr>
                        <td>${row.projectCode}</td>
                        <td>${tanggalFormatted}</td>
                        <td>${row.name}</td>
                        <td>${row.projectType || "-"}</td>
                        <td>${row.clientName || "-"}</td>
                        <td>
                        <div>
                            <strong>${this.formatRupiah(row.contractValue)}</strong>
                            <span style="font-size: 12px; color: #666; display: block;">
                                DPP: ${this.formatRupiah(row.dpp)} | 
                                PPN: ${this.formatRupiah(row.totalTax)} | 
                                Total: ${this.formatRupiah(row.totalAmount)}
                            </span>
                        </div>
                        </td>
                        <td>${row.taxType}</td>
                        <td>${"0%"}</td>
                        <td>
                            <a href="/project/detail/${row.projectId}" style="text-decoration:none">Detail</a>
                        </td>
                       
                   </tr > `;
                });

                tbody.insertAdjacentHTML("beforeend", rowsHtml);
            },
        };
        window.clientModel = clientModel;
        clientModel.init();

    </script>
</body>

</html>