<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <div layout:fragment="content" th:fragment="content">
        <main class="main">
            <div class="detail-container">
                <form id="formBankAccount">
                    <div class="card p-1">
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label class="lbl-normal">Kode</label>
                                    <div class="form-field">
                                        <input type="text" class="form-control input-underline" id="account_code"
                                            name="accountCode" placeholder="Contoh: BCA01 atau KAS01 "> <small
                                            class="text-danger" id="err-accountCode"> </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="lbl-normal">Nama AKun</label>
                                    <div class="form-field">
                                        <input type="text" id="account_name" name="accountName"
                                            class="form-control input-underline"
                                            placeholder="Contoh: Bank BCA Operasional atau Kas Kantor">
                                        <small class="text-danger" id="err-accountName"></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="lbl-normal">Tipe Akun</label>
                                    <div class="form-field">
                                        <select id="account_type" name="accountType"
                                            class="form-select select-underline" aria-label="Default select example">
                                            <option value="">-- Pilih --</option>
                                            <option value="CASH">KAS</option>
                                            <option value="BANK">Bank</option>
                                        </select>
                                        <small class="text-danger" id="err-accountType"></small>
                                    </div>
                                    <input type="hidden" id="account_id" name="accountId" />
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="lbl-normal">Nama Bank</label>
                                    <div class="form-field">
                                        <input type="text" id="bank_name" name="bankName"
                                            class="form-control input-underline" placeholder="Contoh: Bank Bca">
                                        <small class="text-danger" id="err-bankName"></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="lbl-normal">Cabang</label>
                                    <div class="form-field">
                                        <input type="text" id="bank_branch" name="bankBranch"
                                            class="form-control input-underline" placeholder="Contoh: Bandar Lampung">
                                        <small class="text-danger" id="err-bankBranch"></small>
                                    </div>
                                </div>

                            </div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="lbl-normal">No Rekening</label>
                                    <div class="form-field">
                                        <input type="text" id="account_number" name="accountNumber"
                                            class="form-control input-underline">
                                        <small class="text-danger" id="err-accountNumber"></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="lbl-normal">Pemilik</label>
                                    <div class="form-field">
                                        <input type="text" id="account_holder" name="accountHolder"
                                            class="form-control input-underline">
                                        <small class="text-danger" id="err-accountHolder"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="detail-actions">
                        <button type="submit" class="btn btn-primary">
                            Simpan
                        </button>
                        <a th:href="@{/bankaccount}" class="btn btn-danger">Batal
                        </a>
                    </div>
                </form>
            </div>
        </main>
        <div th:replace="~{fragments/footer :: footer}">
        </div>
        <script th:src="@{/js/utility/dashboard.js}"></script>

        <script type="module" th:inline="javascript">
            const bankAccontsNew = {

                init: function () {
                    this.bindEvents();
                },

                bindEvents: function () {
                    const self = this;
                    const accountType = document.getElementById("account_type");
                    const bankName = document.getElementById("bank_name");
                    const bankBranch = document.getElementById("bank_branch");
                    const accountNumber = document.getElementById("account_number");
                    const accountHolder = document.getElementById("account_holder");

                    const form = document.getElementById("formBankAccount");
                    if (form) {
                        console.log("Form formBankAccount ditemukan, memasang event listener...");
                        form.addEventListener("submit", function (e) {
                            e.preventDefault();
                            console.log("Submit terdeteksi!");
                            self.createBankAccount(this);
                        });
                    } else {
                        console.warn("Elemen #formBankAccount tidak ditemukan di DOM saat init!");
                    }

                    if (accountType) {
                        accountType.addEventListener("change", function () {
                            let val = this.value;
                            if (val === "CASH") {
                                // alert(val) #d9d1d1
                                bankName.readOnly = true;
                                bankName.style.background = "#d9d1d1";

                                bankBranch.readOnly = true;
                                bankBranch.style.background = "#d9d1d1";

                                accountNumber.readOnly = true;
                                accountNumber.style.background = "#d9d1d1";

                                accountHolder.readOnly = true;
                                accountHolder.style.background = "#d9d1d1";

                                // kosongkan field
                                document.getElementById("bank_name").value = "";
                                document.getElementById("bank_branch").value = "";
                                document.getElementById("account_number").value = "";
                                document.getElementById("account_holder").value = "";
                            } else {
                                bankName.readOnly = false;
                                bankName.style.background = "#ffff";

                                bankBranch.readOnly = false;
                                bankBranch.style.background = "#ffff";

                                accountNumber.readOnly = false;
                                accountNumber.style.background = "#ffff";

                                accountHolder.readOnly = false;
                                accountHolder.style.background = "#ffff";
                            }

                            self.showCoa(val);
                        });
                    }
                },

                showCoa: async function (keyword) {
                    try {
                        const params = new URLSearchParams({
                            keyword: keyword,
                        });
                        const json = await fetch(`/api/v1/bankaccounts/search?keyword=${keyword.toString()}`);
                        if (json.status === "success" && json.code === 200) {
                            console.log("Hasillllllll = ", json.data);

                            if (json.data.length > 0) {
                                document.getElementById("account_id").value = json.data[0].accountId;
                                // document.getElementById("coa_name").value = json.data[0].name;
                            } else {
                                // alert("")
                                document.getElementById("account_id").value = "";
                                // document.getElementById("coa_name").value = "";
                            }
                        }
                    } catch (error) { }
                },

                createBankAccount: async function (formEl) {
                    const formData = new FormData(formEl);
                    const payload = Object.fromEntries(formData.entries());
                    this.showErrors({}, formEl);
                    Toast.loading("Menyimpan data...");

                    try {

                        var response = await fetch(`/api/v1/bankaccounts`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            credentials: "include",
                            body: JSON.stringify(payload),
                        });

                        var result = await response.json();
                        if (!response.ok) {
                            throw {
                                status: response.status,
                                message: result?.message,
                                errors: result?.errors,
                                data: result,
                            };
                        }
                        await Toast.success(result.message, "Berhasil!", 2000);
                        setTimeout(() => {
                            var url = "/bankaccount";

                            htmx
                                .ajax("GET", url, {
                                    target: "#page-content",
                                    swap: "innerHTML",
                                    indicator: "#loading"
                                })
                                .then(() => {
                                    window.history.pushState({}, "", url);
                                });
                        }, 2500);

                        return result;
                    } catch (err) {
                        console.log("Full Error Object = ", err);
                        const errors = err?.errors || err?.data?.errors;
                        if (errors) {
                            this.showErrors(errors, formEl);
                            Toast.error(err.message, "Gagal", 3000)
                        } else {
                            Toast.error(err.message, "Opps Error", 3000)
                        }
                        throw err;
                    }
                },

                showErrors: function (errors, formEl) {
                    if (!formEl) return; // 🔥 guard biar gak error lagi

                    // 🔥 reset hanya di form ini
                    formEl
                        .querySelectorAll(".is-invalid")
                        .forEach((i) => i.classList.remove("is-invalid"));

                    formEl
                        .querySelectorAll('[id^="err-"]')
                        .forEach((e) => (e.innerText = ""));

                    // 🔥 set error
                    for (const field in errors) {
                        const input = formEl.querySelector(`[name = "${field}"]`);
                        const errorEl = formEl.querySelector("#err-" + field);

                        if (input) input.classList.add("is-invalid");
                        if (errorEl) errorEl.innerText = errors[field];
                    }
                },
            };

            window.bankAccontsNew = bankAccontsNew;
            bankAccontsNew.init();
        </script>
</body>

</html>