<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}">

<body>
  <div layout:fragment="content" th:fragment="content">
    <main class="main">
      <div class="container-fluid mt-2">
        <form id="formClientEdit" th:object="${client}">
          <div class="card p-2">
            <div class="card-body">
              <input type="hidden" id="client_id" name="clientId" th:field="*{clientId}" />
              <div class="row g-3">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label class="lbl-normal">Kode (readonly) </label>
                    <div class="form-field">
                      <input type="text" class="form-control input-underline bg-secondary-subtle" id="client_code"
                        name="clientCode" readonly placeholder="P-0001" th:field="*{clientCode}" />
                      <small class="text-danger" id="err-clientCode"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Nama*</label>
                    <div class="form-field">
                      <input type="text" d="client_name" name="clientName" class="form-control input-underline"
                        placeholder="PT ABC" th:field="*{clientName}" />
                      <small class="text-danger" id="err-clientName"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">NPWP</label>
                    <div class="form-field">
                      <input type="text" id="client_npwp" name="clientNpwp" th:field="*{clientNpwp}"
                        class="form-control input-underline" placeholder="Nomor Pokok Wajib Pajak" />
                      <small class="text-danger" id="err-clientNpwp"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">NIK</label>
                    <div class="form-field">
                      <input type="text" id="client_nik" name="clientNik" class="form-control input-underline"
                        placeholder="Nomor Induk Kependudukan " th:field="*{clientNik}" />
                      <small class="text-danger" id="err-clientNik"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">NITKU</label>
                    <div class="form-field">
                      <input type="text" id="client_nitku" name="clientNitku" class="form-control input-underline"
                        placeholder="Nomor Identitas Tempat Kegiatan Usaha" th:field="*{clientNitku}" />
                      <small class="text-danger" id="err-clientNitku"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Pkp <span class="text-danger">*</span></label>
                    <div class="form-field">
                      <select id="client_is_pkp" name="clientIsPkp" class="form-select select-underline"
                        th:field="*{clientIsPkp}">
                        <option value="">-- Pilih Status PKP --</option>
                        <option value="true">Ya</option>
                        <option value="false">Tidak</option>
                      </select>
                      <small class="text-danger" id="err-clientIsPkp"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Tipe*</label>
                    <div class="form-field">
                      <select id="client_type" name="clientType" class="form-select select-underline"
                        th:field="*{clientType}" aria-label="Default select example">
                        <option value="">-- Pilih Tipe Client --</option>
                        <option value="Perorangan">Perorangan</option>
                        <option value="Perusahaan">Perusahaan</option>
                        <option value="Pemerintah">Pemerintah</option>
                      </select>
                      <small class="text-danger" id="err-clientType"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label style="padding-top: 5px" class="lbl-normal">Alamat</label>
                    <div class="form-field">
                      <textarea id="client_address" name="clientAddress" class="form-control input-underline" rows="1"
                        placeholder="Jl. ZA. Pagar Alam, Gedong Meneng, Kec. Rajabasa, Kota Bandar Lampung, Lampung 35141"
                        th:field="*{clientAddress}"></textarea>
                      <small class="text-danger" id="err-clientAddress"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Kota</label>
                    <div class="form-field">
                      <input type="text" id="client_city" name="clientCity" th:field="*{clientCity}"
                        class="form-control input-underline" placeholder="Bandar Lampung" />
                      <small class="text-danger" id="err-clientCity"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Provinsi</label>
                    <div class="form-field">
                      <input type="text" id="client_province" name="clientProvince" class="form-control input-underline"
                        placeholder="Lampung" th:field="*{clientProvince}" />
                      <small class="text-danger" id="err-clientProvince"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Kode Pos</label>
                    <div class="form-field">
                      <input type="text" id="client_postal_code" name="clientPostalCode"
                        class="form-control input-underline" placeholder="12345" th:field="*{clientPostalCode}" />
                      <small class="text-danger" id="err-clientPostalCode"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Negara</label>
                    <div class="form-field">
                      <input type="text" id="client_country" name="clientCountry" class="form-control input-underline"
                        placeholder="Indonesia" th:field="*{clientCountry}" />
                      <small class="text-danger" id="err-clientCountry"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Nama Kontak</label>
                    <div class="form-field">
                      <input type="text" id="client_contact_person" name="clientContactPerson"
                        class="form-control input-underline" placeholder="Syahrini" th:field="*{clientContactPerson}" />
                      <small class="text-danger" id="err-clientContactPerson"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Handphone</label>
                    <div class="form-field">
                      <input type="text" id="client_contact_phone" name="clientContactPhone"
                        class="form-control input-underline" placeholder="085269530000"
                        th:field="*{clientContactPhone}" />
                      <small class="text-danger" id="err-clientContactPhone"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Email</label>
                    <div class="form-field">
                      <input type="email" id="client_email" name="clientEmail" th:field="*{clientEmail}"
                        class="form-control input-underline" placeholder="jayamajubersama@gmail.com" />
                      <small class="text-danger" id="err-clientEmail"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Nama Bank</label>
                    <div class="form-field">
                      <input type="text" id="client_bank_name" name="clientBankName"
                        class="form-control input-underline" placeholder="BNI" th:field="*{clientBankName}" />
                      <small class="text-danger" id="err-clientBankName"></small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">No. Rekening</label>
                    <div class="form-field">
                      <input type="text" id="client_account_number" name="clientAccountNumber"
                        class="form-control input-underline" placeholder="0123456789"
                        th:field="*{clientAccountNumber}" />
                      <small class="text-danger" id="err-clientAccountNumber"></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label class="lbl-normal">Pemilik</label>
                    <div class="form-field">
                      <input type="text" id="client_account_name" name="clientAccountName"
                        class="form-control input-underline" placeholder="Contoh : PT Jaya Maju Bersama"
                        th:field="*{clientAccountName}" />
                      <small class="text-danger" id="err-clientAccountName"></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="detail-actions">
            <button type="submit" class="btn btn-simpan">
              <i class="bi bi-floppy"></i> Simpan
            </button>
            <a th:href="@{/client}" class="btn btn-batal"
              onclick="event.preventDefault(); library.navigate('/client')"></i> Batal
            </a>
          </div>
        </form>
      </div>
    </main>

  </div>
</body>

</html>