<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <div layout:fragment="content" th:fragment="content">
        <main class="main">
            <div class="container-fluid mt-2">
                <form id="formTrx">
                    <div class="card p-2">
                        <div class="card-body">
                            <input type="hidden" id="company_id" name="companyId" th:value="${trx.companyid}" />
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="lbl-normal">Kode Dokumen</label>
                                        <div class="form-field">
                                            <input type="text" class="form-control input-underline bg-secondary-subtle"
                                                id="companyCode" name="companyCode" placeholder="MJK"
                                                th:value="${trx.companycode}" />
                                            <small class="text-danger" id="err-companyCode"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="detail-actions">
                        <button type="submit" class="btn btn-simpan">
                            <i class="bi bi-floppy"></i> Simpan
                        </button>
                        <a th:href="@{/transactioncode}" class="btn btn-batal" hx-get="/transactioncode"
                            hx-target="#page-content" hx-push-url="true" hx-indicator="#loading"><i
                                class="bi bi-x-lg"></i> Batal
                        </a>
                    </div>
                </form>
            </div>
        </main>
        <script th:inline="javascript">

            var editCode = {
                init: function () {
                    this.bindEvents();
                },

                bindEvents: function () {
                    const self = this;
                    const form = document.getElementById("formTrx");
                    if (form.dataset.bound === "true") return;
                    form.dataset.bound = "true";
                    form.addEventListener("submit", (e) => {
                        e.preventDefault();
                        self.update(form);
                    });
                },

                update: async function (formEl) {
                    const formData = new FormData(formEl);
                    const payload = Object.fromEntries(formData.entries());
                    // const id = formData.get("companyId");

                    // alert(id)
                    console.log("COMPANY CODE:", payload.companyCode);
                    this.showErrors({}, formEl);
                    Toast.loading("Menyimpan data...");
                    try {
                        var response = await fetch(`/api/v1/transactioncode`, {
                            method: "PUT",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            credentials: "include",
                            body: JSON.stringify(payload),
                        });

                        var result = await response.json();
                        if (!response.ok) {
                            throw {
                                status: response.status,
                                message: result?.message || "Gagal menyimpan data",
                                errors: result?.errors,
                                data: result,
                            };
                        }

                        await Toast.success(result.message, "Berhasil!", 2000);
                        setTimeout(() => {
                            var url = `/transactioncode`;
                            htmx
                                .ajax("GET", url, {
                                    target: "#page-content",
                                    swap: "innerHTML",
                                    indicator: "#loading",
                                    history: true,
                                });
                        }, 1000);

                        return result;
                    } catch (err) {
                        console.log("Full Error Object = ", err);
                        const errors = err?.errors || err?.data?.errors;
                        if (errors) {
                            this.showErrors(errors, formEl);
                            Toast.error(
                                err.message,
                                "Gagal Update data, periksa inputan",
                                3000,
                            );
                        } else {
                            Toast.error(err.message, "Opps Error", 3000);
                        }
                        throw err;
                    }
                },
                showErrors: function (errors, formEl) {
                    if (!formEl) return; // 🔥 guard biar gak error lagi

                    // 🔥 reset hanya di form ini
                    formEl
                        .querySelectorAll(".is-invalid")
                        .forEach((i) => i.classList.remove("is-invalid"));

                    formEl
                        .querySelectorAll('[id^="err-"]')
                        .forEach((e) => (e.innerText = ""));

                    // 🔥 set error
                    for (const field in errors) {
                        const input = formEl.querySelector(`[name = "${field}"]`);
                        const errorEl = formEl.querySelector("#err-" + field);

                        if (input) input.classList.add("is-invalid");
                        if (errorEl) errorEl.innerText = errors[field];
                    }
                }
            }
            window.editCode = editCode;
            editCode.init();
        </script>
    </div>
</body>

</html>