<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Detail Akun')}"></div>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="container-fluid py-1">
            <!-- TABLE CARD -->
            <div class="card border-0 shadow-sm">
                <div class="card-body border-bottom">
                    <div class="row g-3 align-items-center">
                        <div class="col-12">
                            <div class="d-flex gap-2 align-items-center flex-wrap">
                                <a th:href="@{/chartofaccounts}" class="btn btn-secondary" style="white-space: nowrap;">
                                    <i class="bi bi-arrow-left"></i>
                                    Kembali Ke Daftar
                                </a>

                            </div>
                        </div>
                        <div class="col">
                            <!-- <h1 th:text="${chartofaccounts.parentName}"></h1> -->
                            <h1 th:text="${chartofaccounts.parentName}"></h1>
                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>@social</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}">
    </div>
    <script th:src="@{/js/utility/dashboard.js}"></script>

</body>

</html>