<aside class="sidebar" id="sidebar" th:fragment="sidebar">
  <!-- <div class="logo"><i>K</i> Kawal Laba</div> -->
  <div class="company">
    <div class="clogo">LI</div>
    <div><b>Logika InterMedia</b><small>Administrator</small></div>
  </div>

  <!-- <div class="title">Workspace</div> -->
  <ul class="menu">
    <li>
      <a class="link active" th:href="@{/dashboard}" hx-get="/dashboard" hx-target="#page-content" hx-push-url="true"
        hx-indicator="#loading"><i class="bi bi-house"></i>Dashboard</a>
    </li>
  </ul>

  <!-- <div class="title">Master Data</div> -->
  <ul class="menu">
    <li class="tree">
      <button class="link">
        <i class="bi bi-database"></i>Master Data <span class="chev">›</span>
      </button>
      <div class="sub">
        <a th:href="@{/client}" hx-get="/client" hx-target="#page-content" hx-push-url="true" hx-indicator="#loading">
          Daftar Client
        </a>
        <a th:href="@{/supplier}" hx-get="/supplier" hx-target="#page-content" hx-push-url="true"
          hx-indicator="#loading">Daftar Supplier
        </a>
        <!-- <a th:href="@{/perusahaan}">Perusahaan</a> -->
        <!-- <a th:href="@{/client}">Customer/ Client</a>
                <a th:href="@{/supplier}">Supplier/ Vendor</a> -->
        <!-- <a href="#">Satuan</a>
                <a href="#">Kategori</a>
                <a href="#">COA /
                    Akun</a><a href="#">Master Pajak</a> -->
      </div>
    </li>
  </ul>

  <!-- <div class="title">Operasional</div> -->
  <ul class="menu">
    <!-- open buat buka menu otomatis -->
    <li class="tree">
      <button class="link">
        <i class="bi bi-buildings-fill"></i>Proyek <span class="chev">›</span>
      </button>
      <div class="sub">
        <a th:href="@{/project}" hx-get="/project" hx-target="#page-content" hx-push-url="true"
          hx-indicator="#loading">Daftar Proyek</a>

        <a href="#">Invoice</a>
      </div>
    </li>
    <!-- <li class="tree"><button class="link"><span class="ico">▤</span>Pengadaan <span class="chev">›</span></button>
            <div class="sub">
                <a href="#">Purchase Request</a><a href="#">Purchase Order</a><a href="#">Penerimaan Barang</a><a
                    href="#">Invoice Supplier</a>
            </div>
        </li> -->
    <!-- <li class="tree"><button class="link"><span class="ico">◫</span>Persediaan <span class="chev">›</span></button>
            <div class="sub">
                <a href="#">Gudang</a><a href="#">Stok</a><a href="#">Mutasi Stok</a><a href="#">Pengeluaran ke
                    Proyek</a><a href="#">Penyesuaian Stok</a><a href="#">Batch / Expired</a>
            </div>
        </li> -->
  </ul>

  <!-- <ul class="menu">
        <li class="tree ">
            <button class="link"><i class="bi bi-cash-stack"></i> Transaksi
                <span class="chev">›</span>
            </button>
            <div class="sub">
                <a th:href="@{/client}">Invoice</a>
                <a th:href="@{/supplier}">Pembelian</a>
            </div>
        </li>
    </ul> -->

  <!-- <div class="title">Keuangan</div> -->
  <ul class="menu">
    <li class="tree">
      <button class="link">
        <i class="bi bi-journals"></i>Keuangan <span class="chev">›</span>
      </button>
      <div class="sub">
        <a th:href="@{/bankaccount}" hx-get="/bankaccount" hx-target="#page-content" hx-push-url="true"
          hx-indicator="#loading">Daftar Kas & Bank</a>
        <a href="#">Penerimaan Kas</a>
        <a href="#">Pengeluaran Kas</a>
        <a href="#">Daftar Piutang</a>
        <a href="#">Daftar Hutang</a>
        <!-- <a href="#">Rekonsilasi Bank</a> -->
      </div>
    </li>
    <li class="tree">
      <button class="link">
        <i class="bi bi-journal-text"></i> Akuntansi <span class="chev">›</span>
      </button>
      <div class="sub">
        <!-- <a th:href="@{/accounttemplates}">Chart of Accounts (COA)</a> -->
        <a th:href="@{/chartofaccounts}">COA</a>
        <a th:href="@{/chartofaccounts}">Mapping COA</a>
        <a href="#">Jurnal Umum</a>
        <a href="#">Posting Jurnal</a>
        <a href="#">Buku Besar</a>
        <a href="#">Neraca Saldo</a>
        <a href="#">Laba Rugi</a>
        <a href="#">Neraca</a>
        <a href="#">Tutup Buku</a>
      </div>
    </li>
    <!-- <li class="tree"><button class="link"><span class="ico">%</span>Pajak <span class="chev">›</span></button>
            <div class="sub">
                <a href="#">PPN</a><a href="#">PPh</a><a href="#">Laporan Pajak</a><a href="#">Export e-Faktur</a>
            </div>
        </li> -->
  </ul>

  <!-- <div class="title">Laporan & Sistem</div> -->
  <ul class="menu">
    <li class="tree">
      <button class="link">
        <i class="bi bi-file-earmark-text"></i>Laporan
        <span class="chev">›</span>
      </button>
      <div class="sub">
        <a href="#">Laporan Proyek</a>
        <a href="#">Laporan Keuangan</a>
        <a href="#">Arus Kas</a><a href="#">Laba per
          Proyek</a>
        <a href="#">Laporan Pembelian</a>
        <a href="#">Laporan Stok</a>
      </div>
    </li>
    <li class="tree">
      <button class="link">
        <i class="bi bi-gear"></i>Pengaturan
        <span class="chev">›</span>
      </button>
      <div class="sub">
        <a th:href="@{/transactioncode}" hx-get="/transactioncode" hx-target="#page-content" hx-push-url="true"
          hx-indicator="#loading">Kode
          Transaksi</a>
      </div>
    </li>
  </ul>
</aside>

<script th:src="@{/js/utility/dashboard.js}"></script>
<script th:src="@{/js/utility/library.js}"></script>