<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Daftar Akun Bank')}"></div>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="container-fluid py-1">
            <!-- TABLE CARD -->
            <div class="card border-0 shadow-sm">
                <!-- TOOLBAR -->
                <div class="card-body border-bottom">
                    <div class="row g-3 align-items-center">
                        <!-- SEARCH -->
                        <div class="col-12 col-md-12">
                            <div class="d-flex gap-2 align-items-center flex-wrap">
                                <div class="input-group" style="flex: 1; min-width: 200px;">
                                    <input type="search" id="searchBank" class="form-control"
                                        placeholder="search nama...">
                                </div>
                                <a th:href="@{/bankaccount/new}" class="btn btn-primary" style="white-space: nowrap;">
                                    <i class="bi bi-plus-lg"></i> Akun baru
                                </a>
                                <button type="button" id="btn-refresh" class="btn btn-success"
                                    style="white-space: nowrap;">
                                    <i class="bi bi-arrow-clockwise"></i> Refresh
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="table-responsive ">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="kolom-sticky-1 resizer">KODE</th>
                                <th class="kolom-sticky-3 resizer">NAMA AKUN</th>
                                <th class="resizer" style="width: 150px">BANK</th>
                                <th class="resizer" style="width: 150px">REKENING</th>
                                <th class="resizer" style="width: 150px">SALDO</th>
                                <th class="resizer" style="width: 100px">STATUS</th>
                                <th class="resizer" style="width: 100px">Aksi</th>
                            </tr>
                        </thead>
                        <tbody id="bankaccount-table-body"></tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <div th:replace="~{fragments/footer :: footer}">
    </div>
    <script th:src="@{/js/utility/dashboard.js}"></script>
    <script type="module" th:inline="javascript">
        import { library } from '/js/utility/library.js';
        const bankAccountModel = {
            hasNext: true,
            loading: false,
            resizableInit: false,
            allData: [],

            formatRupiah: function (value) {
                // Gunakan library yang di-import
                return library.formatRupiah(value);
            },
            init: function () {
                const self = this;
                // const wrapperId = document.getElementById("client-wrapper");
                this.findById("", true);
                // this.initScroll(wrapperId); // 🔥 pasang di sini
                this.refResh()

                const searchInput = document.getElementById('searchBank');
                if (searchInput) {
                    searchInput.addEventListener('input', function (e) {
                        const keyword = e.target.value;
                        console.log("Kata Kunci", keyword)
                        self.findById(keyword, true);
                    });

                    // Clear search dengan tombol ESC
                    searchInput.addEventListener('keydown', function (e) {
                        const key = e.key;
                        // ✅ Deteksi ESC, Backspace, atau Delete
                        if (key === 'Escape' || key === 'Backspace' || key === 'Delete') {
                            e.target.value = '';
                            self.findById('', true);
                            e.target.blur();
                        }
                    });
                }
            },

            refResh: function () {
                const btnRefresh = document.getElementById("btn-refresh");
                btnRefresh.onclick = () => {
                    this.findById("", true);
                }
            },


            findById: async function (keyword = "", reset = false) {
                if (this.loading) return;
                if (!this.hasNext && !reset) return;
                const tbody = document.getElementById("bankaccount-table-body");
                const statusMsg = "";

                if (reset) {
                    this.cursorCreatedAt = null;
                    this.cursorId = null;
                    this.hasNext = true;
                    tbody.innerHTML = "";
                }

                this.loading = true;
                UI.showSkeleton("bankaccount-table-body", 10);

                try {
                    const params = new URLSearchParams({
                        keyword: keyword,
                        limit: this.limit,
                    });

                    const [json] = await Promise.all([
                        api.get(`/api/v1/bankaccounts?${params.toString()}`),
                        new Promise((resolve) => setTimeout(resolve, 1000)),
                    ]);

                    if (json && json.status === "success") {
                        const res = json.data;
                        UI.hideSkeleton();

                        const newBatch = res;
                        // 🔥 GABUNGKAN DATA: Jika reset, buat baru. Jika scroll, tambah ke belakang.
                        if (reset) {
                            this.allData = newBatch;
                        } else {
                            this.allData = [...(this.allData || []), ...newBatch];
                        }

                        // Kirim 'this.allData.length' untuk tahu posisi index awal batch ini
                        const startIndex = reset
                            ? 0
                            : this.allData.length - newBatch.length;
                        this.renderTable(newBatch, reset, startIndex);
                    }
                } catch (err) {
                    tbody.innerHTML = `<tr><td colspan="13" class="text-center text-danger">Error: ${err.message}</td></tr>`;
                    UI.hideSkeleton();
                } finally {
                    this.loading = false;
                    UI.hideSkeleton();
                }
            },

            renderTable: function (data, isReset = false, startIndex = 0) {
                const tbody = document.getElementById("bankaccount-table-body");

                if (!data || data.length === 0) {
                    if (isReset) {
                        tbody.innerHTML =
                            '<tr><td colspan="13" class="text-center py-3">No data available</td></tr>';
                    }
                    return;
                }

                if (isReset) {
                    tbody.innerHTML = "";
                }

                let rowsHtml = "";
                data.forEach((row, i) => {
                    var status = row.isActive;
                    const globalIndex = startIndex + i;
                    rowsHtml += `
                    <tr class="clickable-row-client" data-index="${globalIndex}" id="row-client-${row.bankAccountId}">
                        <td>${row.accountCode}</td>
                        <td>${row.accountName}</td>
                        <td>${row.bankName || "-"}</td>
                        <td>${row.accountNumber || "-"}</td>
                        <td>${this.formatRupiah(row.openingBalance || 0)}</td>
                        <td class="text-center">
                        ${status === true
                            ? '<span class="status-aktif">Aktif</span>'
                            : '<span class="status-tidak-aktif">Nonaktif</span>'
                        }
                        </td>
                        <td>
                            <a href="/bankaccount/detail/${row.bankAccountId}" style="text-decoration:none">Detail</a>
                        </td>
                       
                   </tr > `;
                });
                tbody.insertAdjacentHTML("beforeend", rowsHtml);
            },


        };
        window.bankAccountModel = bankAccountModel;
        bankAccountModel.init();

    </script>
</body>

</html>