<!DOCTYPE html>
<div th:replace="~{fragments/head :: head('Detail Akun Bank')}"></div>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="detail-container">
            <div class="detail-header">
                <div class="detail-heading">
                    <div class="detail-title">
                        <h1 th:text="${accounts.accountName}">
                        </h1>
                    </div>
                </div>
            </div>

            <div class="detail-card">
                <div class="card-heading">
                    <div class="card-heading-icon">👤</div>
                    <h2>
                        Informasi Akun
                    </h2>
                </div>

                <div class="info-grid">
                    <div class="info-item">
                        <span class="info-label">
                            Kode
                        </span>
                        <div class="info-value" th:text="${accounts.accountCode}"></div>
                    </div>

                    <div class="info-item">
                        <span class="info-label">
                            Tipe Akun
                        </span>
                        <div class="info-value" th:text="${accounts.accountType}"></div>
                    </div>



                    <div class="info-item">
                        <span class="info-label">
                            Status
                        </span>

                        <div class="info-value normal">
                            <b> <span th:if="${accounts.isActive}" class="status-aktif">Aktif</span></b>
                            <b><span th:unless="${accounts.isActive}" class="status-tidak-aktif">Nonaktif</span></b>
                        </div>
                    </div>
                </div>

            </div>

            <div class="detail-card">
                <div class="card-heading">
                    <div class="card-heading-icon">
                        📄
                    </div>
                    <h2>
                        Informasi Bank
                    </h2>
                </div>


                <div class="info-grid">
                    <div class="info-item">
                        <span class="info-label">
                            Nama Bank
                        </span>
                        <div class="info-value" th:text="${accounts.bankName ?: '-'}"></div>
                    </div>

                    <div class="info-item">
                        <span class="info-label">
                            Rekening Bank
                        </span>
                        <div class="info-value" th:text="${accounts.accountNumber ?: '-'}"></div>
                    </div>


                    <div class="info-item">
                        <span class="info-label">
                            Pemilik
                        </span>
                        <div class="info-value" th:text="${accounts.accountHolder ?: '-'}"></div>
                    </div>

                </div>
            </div>

            <div class="detail-actions">
                <a th:href="@{/bankaccount}" class="btn btn-light"> <i class="bi bi-arrow-left"></i> Kembali ke
                    Daftar
                </a>
                <a th:href="@{/bankaccount/edit/{id}(id=${accounts.bankAccountId})}" class="btn btn-warning"><i
                        class="bi bi-pencil-square"></i> Edit
                </a>
                <button type="button" class="btn btn-danger">
                    <i class="bi bi-eye-slash"></i> Nonaktifkan
                </button>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}">
    </div>
    <script th:src="@{/js/utility/dashboard.js}"></script>
</body>

</html>