<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head('Akun Baru')}"></div>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <main class="main">
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <div class="detail-container">
            <form id="formBankAccount" th:object="${accounts}">
                <div class="card p-1">
                    <div class="card-body">
                        <input type="hidden" id="bank_account_id" name="bankAccountId" th:field="*{bankAccountId}" />
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">Kode</label>
                                <div class="form-field">
                                    <input type="text" class="form-control" id="account_code" name="accountCode"
                                        th:field="*{accountCode}" placeholder="Contoh: BCA01 atau KAS01 "> <small
                                        class="text-danger" id="err-accountCode"> </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Nama AKun</label>
                                <div class="form-field">
                                    <input type="text" id="account_name" name="accountName" class="form-control"
                                        th:field="*{accountName}"
                                        placeholder="Contoh: Bank BCA Operasional atau Kas Kantor">
                                    <small class="text-danger" id="err-accountName"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Tipe Akun</label>
                                <div class="form-field">
                                    <select id="account_type" name="accountType" class="form-select"
                                        th:field="*{accountType}" aria-label="Default select example">
                                        <option value="">-- Pilih --</option>
                                        <option value="CASH">KAS</option>
                                        <option value="BANK">Bank</option>
                                    </select>
                                    <small class="text-danger" id="err-accountType"></small>
                                </div>
                                <input type="hidden" id="coa_id" name="coaId" th:field="*{coaId}" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Nama Bank</label>
                                <div class="form-field">
                                    <input type="text" id="bank_name" name="bankName" class="form-control"
                                        th:field="*{bankName}" placeholder="Contoh: Bank Bca">
                                    <small class="text-danger" id="err-bankName"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Cabang</label>
                                <div class="form-field">
                                    <input type="text" id="bank_branch" name="bankBranch" class="form-control"
                                        th:field="*{bankBranch}" placeholder="Contoh: Bandar Lampung">
                                    <small class="text-danger" id="err-bankBranch"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">No Rekening</label>
                                <div class="form-field">
                                    <input type="text" id="account_number" name="accountNumber" class="form-control"
                                        th:field="*{accountNumber}">
                                    <small class="text-danger" id="err-accountNumber"></small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Pemilik</label>
                                <div class="form-field">
                                    <input type="text" id="account_holder" name="accountHolder" class="form-control"
                                        th:field="*{accountHolder}">
                                    <small class="text-danger" id="err-accountHolder"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="detail-actions">
                    <button type="submit" class="btn btn-primary">
                        Simpan
                    </button>
                    <a th:href="@{/bankaccount}" class="btn btn-danger">Batal
                    </a>
                </div>
            </form>
        </div>
    </main>
    <div th:replace="~{fragments/footer :: footer}">
    </div>
    <script th:src="@{/js/utility/dashboard.js}"></script>

    <script type="module" th:inline="javascript">
        const bankAccontsNew = {

            init: function () {
                this.bindEvents();
            },

            bindEvents: function () {
                const self = this;
                const accountType = document.getElementById("account_type");
                const bankName = document.getElementById("bank_name");
                const bankBranch = document.getElementById("bank_branch");
                const accountNumber = document.getElementById("account_number");
                const accountHolder = document.getElementById("account_holder");

                const form = document.getElementById("formBankAccount");
                if (form) {
                    console.log("Form formBankAccount ditemukan, memasang event listener...");
                    form.addEventListener("submit", function (e) {
                        e.preventDefault();
                        console.log("Submit terdeteksi!");
                        self.updateBankAccount(this);
                    });
                } else {
                    console.warn("Elemen #formBankAccount tidak ditemukan di DOM saat init!");
                }

                if (accountType) {
                    accountType.addEventListener("change", function () {
                        let val = this.value;
                        if (val === "CASH") {
                            // alert(val) #d9d1d1
                            bankName.readOnly = true;
                            bankName.style.background = "#d9d1d1";

                            bankBranch.readOnly = true;
                            bankBranch.style.background = "#d9d1d1";

                            accountNumber.readOnly = true;
                            accountNumber.style.background = "#d9d1d1";

                            accountHolder.readOnly = true;
                            accountHolder.style.background = "#d9d1d1";

                            // kosongkan field
                            document.getElementById("bank_name").value = "";
                            document.getElementById("bank_branch").value = "";
                            document.getElementById("account_number").value = "";
                            document.getElementById("account_holder").value = "";
                        } else {
                            bankName.readOnly = false;
                            bankName.style.background = "#ffff";

                            bankBranch.readOnly = false;
                            bankBranch.style.background = "#ffff";

                            accountNumber.readOnly = false;
                            accountNumber.style.background = "#ffff";

                            accountHolder.readOnly = false;
                            accountHolder.style.background = "#ffff";
                        }

                        self.showCoa(val);
                    });
                }
            },

            showCoa: async function (keyword) {
                try {
                    const params = new URLSearchParams({
                        keyword: keyword,
                    });
                    const json = await api.get(
                        `/api/v1/bankaccounts/search?keyword=${keyword.toString()}`,
                    );
                    if (json.status === "success" && json.code === 200) {
                        console.log("Hasillllllll = ", json.data);

                        if (json.data.length > 0) {
                            document.getElementById("coa_id").value = json.data[0].coaId;
                            // document.getElementById("coa_name").value = json.data[0].name;
                        } else {
                            // alert("")
                            document.getElementById("coa_id").value = "";
                            // document.getElementById("coa_name").value = "";
                        }
                    }
                } catch (error) { }
            },

            updateBankAccount: async function (formEl) {
                const formData = new FormData(formEl);
                const id = formData.get("bankAccountId");
                const payload = Object.fromEntries(formData.entries());
                if (id == null) alert("id tidak valid")
                this.showErrors({}, formEl);

                try {

                    const result = await api.put(`/api/v1/bankaccounts/${id}`, payload, "Mengubah Data...");
                    if (result && result.success !== false) {
                        await Toast.fire({
                            icon: 'success',
                            title: 'Berhasil!',
                            text: result.message,
                            timer: 3000,
                            showConfirmButton: false
                        });
                        setTimeout(() => {
                            window.location.href = `/bankaccount/detail/${id}`;
                        }, 500);
                        return result;
                    } else {
                        throw new Error(result?.message || 'Gagal Menyimpan data');
                    }
                } catch (err) {
                    console.log("Full Error Object = ", err);
                    const errors = err?.errors || err?.data?.errors;
                    if (errors) {
                        this.showErrors(errors, formEl);
                        Toast.fire({
                            icon: 'error',
                            title: 'Gagal Menyimpan Data, Periksa inputan'
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: err.message,
                        });
                    }
                    throw errors;
                }
            },

            showErrors: function (errors, formEl) {
                if (!formEl) return; // 🔥 guard biar gak error lagi

                // 🔥 reset hanya di form ini
                formEl
                    .querySelectorAll(".is-invalid")
                    .forEach((i) => i.classList.remove("is-invalid"));

                formEl
                    .querySelectorAll('[id^="err-"]')
                    .forEach((e) => (e.innerText = ""));

                // 🔥 set error
                for (const field in errors) {
                    const input = formEl.querySelector(`[name = "${field}"]`);
                    const errorEl = formEl.querySelector("#err-" + field);

                    if (input) input.classList.add("is-invalid");
                    if (errorEl) errorEl.innerText = errors[field];
                }
            },
        };

        window.bankAccontsNew = bankAccontsNew;
        bankAccontsNew.init();
    </script>
</body>

</html>