<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <div layout:fragment="content" th:fragment="content">
        <main class="main">
            <div class="container-fluid py-1">
                <!-- TABLE CARD -->
                <div class="card border-0 shadow-sm">
                    <div class="card-body border-bottom">
                        <div class="row g-3 align-items-center">
                            <div class="col-12">
                                <div class="d-flex gap-2 align-items-center flex-wrap">
                                    <a href="javascript:void(0)" class="btn btn-warning"
                                        th:data-url="@{/coa/detail/{id}(id=${parent.accountId})}"
                                        onclick="event.preventDefault(); library.navigate(this.dataset.url);">
                                        <i class="bi bi-arrow-left"></i> Kembali
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <span class="fw-semibold">Parent :</span>
                                <span th:text="${parent.accountCode}">Kas</span> -
                                <span th:text="${parent.accountName}">Kas</span>
                            </div>

                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 150px;">Kode Akun</th>
                                <th scope="col">Nama Akun</th>
                            </tr>
                        </thead>
                        <tbody id="accountRows">
                            <tr th:each="account : ${accounts}">
                                <td>
                                    <input type="hidden" name="accountId" th:value="${account.accountId}">

                                    <input type="text" name="accountCode"
                                        class="form-control form-control-sm  bg-secondary text-white"
                                        th:value="${account.accountCode}" readonly>

                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                        th:value="${account.accountName}" name="accountName">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="detail-actions">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-floppy"></i> Simpan
                    </button>
                </div>
            </div>
        </main>
        <script>

        </script>
    </div>

</body>

</html>