<div th:fragment="mainContent" xmlns:th="http://www.thymeleaf.org" id="panel-Employees-Content">
  <style>
    /* Container untuk merapikan isi konten di bawah tab */
    .tab-content-container {
      border: 0px solid #dee2e6;
      border-top: none;
      background: #f5f5f5;
    }

    /* #formEmployee,
        #view-input-employees {
            height: 100%;
            overflow: hidden;
        } */

    .container-fluid {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    /* Garis tipis pemisah */
    .border-top {
      border-top: 1px solid #eee !important;
    }

    /* untuk tombol export dll */
    /* Menghilangkan panah default bootstrap jika dirasa terlalu ramai */
    .dropdown-toggle::after {
      vertical-align: middle;
    }

    /* Efek hover pada item dropdown */
    .dropdown-item:hover {
      background-color: #f8f9fa;
      color: #2b7de9;
    }

    /* Memberikan warna ikon agar lebih informatif */
    .dropdown-item i {
      width: 20px;
      text-align: center;
    }

    .card-body-easyui {
      padding: 15px !important;
      border-radius: 0 0 4px 4px;
    }
  </style>
  <ul class="nav nav-tabs custom-terminal-tabs">
    <li class="nav-item">
      <button class="nav-link text-light" id="btn-tab-list-employees"
        onclick="employeeModel.switchTabEmployee('view-list-employees')">
        <i class="fas fa-list me-1"></i>
      </button>
    </li>

    <li class="nav-item">
      <button class="nav-link active" id="btn-tab-input-employees"
        onclick="employeeModel.switchTabEmployee('view-input-employees')">
        <i class="fas fa-edit me-1" id="txtinput"></i>
        <span id="text-label-employee">Data Baru</span>
      </button>
    </li>

    <li class="nav-item" id="li-tab-detail-employees" style="display: none">
      <button class="nav-link text-light" id="btn-tab-detail-employees">
        <i class="fas fa-id-card me-1"></i> Detail:
        <span id="tab-label-client"></span>
        <span class="ms-2 badge bg-danger" onclick="employeeModel.closeEdit(event)" style="cursor: pointer">×</span>
      </button>
    </li>
  </ul>

  <div class="tab-content-container p-0">
    <form id="formEmployee">
      <div id="view-input-employees" style="display: block">
        <div class="container-fluid py-2">
          <div class="row g-3">
            <div class="col-md-12">
              <div class="card border-0 shadow-sm" style="width: 100%; border-radius: 0px">
                <div class="card-body card-body-easyui p-3">
                  <div class="row">
                    <input type="hidden" id="employee_id" name="employeeId" />

                    <div class="col-md-6 pe-md-4">
                      <div class="accurate-form-group">
                        <label>Kode</label>
                        <input type="text" id="employee_code" name="employeeCode" readonly
                          class="form-control form-control-sm bg-light" />
                      </div>

                      <div class="accurate-form-group">
                        <label>Nama Lengkap
                          <span class="text-danger">*</span></label>
                        <div class="form-field">
                          <input type="text" id="employee_name" name="employeeName" class="form-control form-control-sm"
                            placeholder="Paramita Rusadi" />
                          <small class="text-danger" id="err-employeeName"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Nik</label>
                        <div class="form-field">
                          <input type="text" id="employee_nik" name="employeeNik" class="form-control form-control-sm"
                            placeholder="Nomor Induk Kependudukan" />
                          <small class="text-danger" id="err-employeeNik"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Npwp</label>
                        <div class="form-field">
                          <input type="text" id="employee_npwp" name="employeeNpwp" class="form-control form-control-sm"
                            placeholder="Nomor Pokok Wajib Pajak" />
                          <small class="text-danger" id="err-employeeNpwp"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Jenis Kelamin</label>
                        <div class="form-field">
                          <select id="employee_gender" name="employeeGender" class="form-control form-control-sm">
                            <option selected disabled>
                              -- Pilih Jenis Kelamin --
                            </option>
                            <option value="Pria">Pria</option>
                            <option value="Wanita">Wanita</option>
                          </select>
                          <small class="text-danger" id="err-employeeGender"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Tanggal Lahir</label>
                        <div class="form-field">
                          <input type="date" name="employeeBirthDate" id="employee_birth_date"
                            class="form-control form-control-sm" />
                          <small class="text-danger" id="err-employeeBirthDate"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Telp</label>
                        <div class="form-field">
                          <input type="text" id="employee_phone" name="employeePhone"
                            class="form-control form-control-sm" placeholder="08*****" />
                          <small class="text-danger" id="err-employeePhone"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Email</label>
                        <div class="form-field">
                          <input type="email" id="employee_email" name="employeeEmail"
                            class="form-control form-control-sm" placeholder="Email" />
                          <small class="text-danger" id="err-employeeEmail"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label style="padding-top: 5px">Alamat</label>
                        <div class="form-field">
                          <textarea id="employee_address" name="employeeAddress" class="form-control form-control-sm"
                            rows="3"
                            placeholder="Jl. Kuningan Persada Kavling 4, Setiabudi, Jakarta Selatan, 12950"></textarea>
                          <small class="text-danger" id="err-employeeAddress"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>departemen</label>
                        <div class="form-field">
                          <input type="text" id="employee_department" name="employeeDepartment"
                            class="form-control form-control-sm" placeholder="Hrd/ Marketing/ Keuangan/ Operasional" />
                          <small class="text-danger" id="err-employeeDepartment"></small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 ps-md-4">
                      <div class="accurate-form-group">
                        <label>Jabatan</label>
                        <div class="form-field">
                          <input type="text" id="employee_job_position" name="employeeJobPosition"
                            class="form-control form-control-sm" placeholder="Teknisi/ Pengawas/ Logistik" />
                          <small class="text-danger" id="err-employeeJobPosition"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Status</label>
                        <div class="form-field">
                          <select id="employee_employment_type" name="employeeEmploymentType"
                            class="form-control form-control-sm">
                            <option selected disabled>
                              --Pilih Status Karyawan --
                            </option>
                            <option value="Tetap">Tetap</option>
                            <option value="Kontrak">Kontrak</option>
                            <option value="Lepas">Lepas</option>
                          </select>
                          <small class="text-danger" id="err-employeeEmploymentType"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Tanggal Join</label>
                        <div class="form-field">
                          <input type="date" id="employee_join_date" name="employeeJoinDate"
                            class="form-control form-control-sm" />
                          <small class="text-danger" id="err-employeeJoinDate"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Tipe Gaji</label>
                        <div class="form-field">
                          <select name="employeeSalaryType" id="employee_salary_type"
                            class="form-control form-control-sm">
                            <option selected disabled>
                              -- Pilih Tipe Gaji --
                            </option>
                            <option value="Harian">Harian</option>
                            <option value="Bulanan">Bulanan</option>
                          </select>
                          <small class="text-danger" id="err-employeeSalaryType"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Gaji Pokok</label>
                        <div class="form-field">
                          <input type="number" id="employee_basic_salary" name="employeeBasicSalary"
                            class="form-control form-control-sm" placeholder="3.000.000" step="0.01" min="0" />
                          <small class="text-danger" id="err-basicSalaryValid"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Upah Harian</label>
                        <div class="form-field">
                          <input type="number" id="employee_daily_wage" name="employeeDailyWage"
                            class="form-control form-control-sm" placeholder="120.000" step="0.01" min="0" />
                          <small class="text-danger" id="err-dailyWageValid"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Nama Bank</label>
                        <div class="form-field">
                          <input type="text" id="employee_bank_name" name="employeeBankName"
                            class="form-control form-control-sm" placeholder="BNI" />
                          <small class="text-danger" id="err-employeeBankName"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Nomor Rekening</label>
                        <div class="form-field">
                          <input type="text" id="employee_bank_account_number" name="employeeBankAccountNumber"
                            class="form-control form-control-sm" placeholder="12345678" />
                          <small class="text-danger" id="err-employeeBankAccountNumber"></small>
                        </div>
                      </div>

                      <div class="accurate-form-group">
                        <label>Pemilik Rekening</label>
                        <div class="form-field">
                          <input type="text" id="employee_bank_account_name" name="employeeBankAccountName"
                            class="form-control form-control-sm" placeholder="PT Jaya Maju Bersama" />
                          <small class="text-danger" id="err-employeeBankAccountName"></small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mt-1 shadow-sm border-0">
                <div class="card-body text-center">
                  <div class="d-flex justify-content-center gap-3">
                    <button type="submit" class="btn btn-primary px-4">
                      <i class="bi bi-floppy"></i> Simpan
                    </button>
                    <button type="button" class="btn btn-danger px-4" id="btn-batal-employee">
                      <i class="bi bi-x-circle"></i> Batal
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </form>

    <div id="view-list-employees" style="display: none; padding: 5px">
      <div class="toolbar-easyui">
        <div class="btn-separator"></div>
        <button id="btn-tambah-employee" class="btn-tambah fw-bold">
          <i class="fas fa-plus"></i> Tambah
        </button>
        <button id="btn-refresh-employee" class="btn-segarkan">
          <i class="fas fa-sync-alt"></i> Refresh
        </button>

        <div class="dropdown d-inline-block" style="position: relative">
          <button class="btn-excel dropdown-toggle" type="button" onclick="employeeModel.toggleExcelMenu(event)">
            <i class="fas fa-file-excel me-1"></i> Export
          </button>

          <ul class="dropdown-menu shadow border" id="menu-excel-client" style="
              display: none;
              position: absolute !important;
              left: 0;
              top: 100%;
              z-index: 99999 !important;
              min-width: 180px;
              background: white;
              list-style: none;
              padding: 5px 0;
              margin: 0;
            ">
            <li>
              <a class="dropdown-item p-2 d-block text-decoration-none text-dark" href="/api/v1/clients/export">
                <i class="fas fa-file-export me-2 text-success"></i> Export Ke
                Excel
              </a>
            </li>
            <li>
              <a class="dropdown-item p-2 d-block text-decoration-none text-dark" href="/api/v1/clients/template">
                <i class="fas fa-download me-2 text-info"></i> Download Template
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" style="margin: 5px 0" />
            </li>
            <li>
              <a class="dropdown-item p-2 d-block text-decoration-none text-dark" href="javascript:void(0)" onclick="
                  document.getElementById('menu-excel-client').style.display =
                    'none'
                " data-bs-toggle="modal" data-bs-target="#importModal">
                <i class="fas fa-file-upload me-2 text-warning"></i> Import
                Excel
              </a>
            </li>
          </ul>
        </div>
        <button class="btn-print"><i class="fas fa-print"> </i> Print</button>

        <div style="display: flex; align-items: center; flex: 1; margin-right: 0px">
          <div class="search-container-terminal me-2">
            <input type="text" id="search-employee-input" placeholder="Search..." class="input-hugo-terminal" />
          </div>
          <button id="btn-search-employee" class="btn-cari">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>

      <div class="table-wrapper table-wrapper-employee" id="employee-wrapper">
        <table id="employee-table">
          <thead>
            <tr>
              <th class="kolom-sticky-1 resizer">Kode</th>
              <th class="kolom-sticky-2 resizer">Nama</th>
              <th class="kolom-sticky-3 resizer">Npwp</th>
              <th class="resizer" style="width: 150px">Nik</th>
              <th class="resizer" style="width: 120px">Jenis Kelamin</th>
              <th class="resizer" style="width: 120px">Tgl Lahir</th>
              <th class="resizer" style="width: 120px">Telepon</th>
              <th class="resizer" style="width: 150px">Email</th>
              <th class="resizer" style="width: 250px">Alamat</th>
              <th class="resizer" style="width: 120px">Departemen</th>
              <th class="resizer" style="width: 110px">Jabatan</th>
              <th class="resizer" style="width: 110px">Status</th>
              <th class="resizer" style="width: 110px">Join</th>
              <th class="resizer" style="width: 110px">Tipe Gaji</th>
              <th class="resizer" style="width: 110px">Gapok</th>
              <th class="resizer" style="width: 110px">Upah Harian</th>
              <th class="resizer" style="width: 100px">Bank</th>
              <th class="resizer" style="width: 120px">Rekening</th>
              <th class="resizer" style="width: 150px">Pemilik</th>
              <th class="resizer" style="width: 70px">Aktif</th>
            </tr>
          </thead>
          <tbody id="employee-table-body"></tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="module" th:inline="javascript">
    const employeeModel = {
      cursorCreatedAt: null,
      cursorId: null,
      hasNext: true,
      loading: false,
      limit: 15,
      resizableInit: false,
      allData: [],

      init: function () {
        const wrapperId = document.getElementById("employee-wrapper");
        const keyword = document.getElementById("search-employee-input").value;
        this.findById("", true);
        this.initDropdownListener();
        this.bindEvents();
        this.initScroll(wrapperId, keyword); // 🔥 pasang di sini
        this.switchTabEmployee("view-list-employees");
        // this.bersih();
        this.generateCode();
      },

      initScroll: function (wrapper, keyword) {
        //const wrapper = document.querySelector(wrapperId);
        let lastScrollTop = 0; // Untuk mendeteksi arah scroll

        wrapper.addEventListener("scroll", () => {
          const scrollTop = wrapper.scrollTop;
          const isScrollingDown = scrollTop > lastScrollTop; // Cek arah bawah
          lastScrollTop = scrollTop;

          const nearBottom =
            scrollTop + wrapper.clientHeight >= wrapper.scrollHeight - 50;

          // ✅ SYARAT: Harus scroll ke bawah, sedang tidak loading, dan masih ada data selanjutnya
          if (isScrollingDown && nearBottom && !this.loading && this.hasNext) {
            console.log("Memuat data selanjutnya...");

            this.findById("", keyword);
          }
        });
      },

      bersih: function () { },

      bindEvents: function () {
        const self = this;

        // 1. Ambil semua elemen
        const searchInput = document.getElementById("search-employee-input");
        const btnTambah = document.getElementById("btn-tambah-employee");
        const btnSearch = document.getElementById("btn-search-employee");
        const btnRefresh = document.getElementById("btn-refresh-employee");
        const btnBatal = document.getElementById("btn-batal-employee");
        const form = document.getElementById("formEmployee");

        // 2. Gunakan Optional Chaining atau IF check agar script tidak mati jika ada elemen yang null
        if (btnSearch && searchInput) {
          btnSearch.onclick = () => {
            const keyword = searchInput.value.trim();
            if (!keyword) {
              showToast("error", "Input pencarian masih kosong");
              return;
            }
            this.findById(keyword, true);
            // alert("cokk")
          };
        }

        if (btnRefresh && searchInput) {
          btnRefresh.onclick = () => {
            searchInput.value = "";
            this.findById("", true);
          };
        }

        if (btnTambah) {
          btnTambah.onclick = () => {
            this.switchTabEmployee("view-input-employees");
          };
        }

        if (searchInput) {
          searchInput.onkeyup = (e) => {
            if (e.key === "Enter") {
              this.findById(searchInput.value.trim(), 0);
            }
          };
        }

        if (btnBatal) {
          btnBatal.onclick = () => {
            form.reset();
            this.generateCode();
            this.switchTabEmployee("list");
            // document.getElementById("btn-hapus").style.display = "none";
            const label = document.getElementById("text-label-employee");
            if (label) label.textContent = "Data Baru";
          };
        }

        // 3. Pasang Listener Form (Pastikan ini dijalankan)
        if (form) {
          console.log("Form employee ditemukan, memasang event listener...");
          form.addEventListener("submit", function (e) {
            e.preventDefault();
            console.log("Submit terdeteksi!");
            //alert("yess");
            self.createEmployee(this);
          });
        } else {
          console.warn(
            "Elemen #formEmployee tidak ditemukan di DOM saat init!",
          );
        }

        const tbody = document.getElementById("employee-table-body");
        tbody.addEventListener("dblclick", (e) => {
          const tr = e.target.closest("tr.clickable-row");
          if (!tr) return;

          const index = tr.dataset.index;
          const row = this.allData[index];

          if (row) {
            this.switchTabEmployee("view-input-employees", row);
            document.getElementById("text-label-employee").textContent =
              "Perbaharui Data";
          }
        });
      },

      generateCode: async function () {
        try {
          const json = await api.get(`/api/v1/employees/generate-code`);
          if (json.status === "success")
            document.getElementById("employee_code").value =
              json.data.employeeCode;
        } catch (e) { }
      },

      findById: async function (keyword = "", reset = false) {
        if (this.loading) return;
        if (!this.hasNext && !reset) return;
        const tbody = document.getElementById("employee-table-body");
        const statusMsg = "";

        if (reset) {
          this.cursorCreatedAt = null;
          this.cursorId = null;
          this.hasNext = true;
          tbody.innerHTML = "";
        }

        this.loading = true;
        UI.showSkeleton("employee-table-body", 11);

        try {
          const params = new URLSearchParams({
            keyword: keyword,
            limit: this.limit,
          });

          if (this.cursorCreatedAt && this.cursorId) {
            params.append("lastCreatedAt", this.cursorCreatedAt);
            params.append("lastId", this.cursorId);
          }

          const [json] = await Promise.all([
            api.get(`/api/v1/employees?${params.toString()}`),
            new Promise((resolve) => setTimeout(resolve, 1000)),
          ]);

          if (json && json.status === "success") {
            const res = json.data;
            UI.hideSkeleton();

            // 🔥 GABUNGKAN DATA: Jika reset, buat baru. Jika scroll, tambah ke belakang.
            const newBatch = res.data;
            if (reset) {
              this.allData = newBatch;
            } else {
              // this.allData = [...this.allData, ...res.data];
              this.allData = [...(this.allData || []), ...newBatch];
            }

            // Kirim 'this.allData.length' untuk tahu posisi index awal batch ini
            const startIndex = reset
              ? 0
              : this.allData.length - res.newBatch.length;
            this.renderTable(newBatch, reset, startIndex);

            // 🔥 update cursor
            this.cursorCreatedAt = res.nextCreatedAt;
            this.cursorId = res.nextId;
            this.hasNext = res.hasNext;

            console.log(" cursorId =", this.cursorId);
            console.log(" hasNext =", this.hasNext);
          }
          document.getElementsByClassName(
            "table-wrapper-employee",
          )[0].style.height = "80svh";
          // Mengatur tinggi tabel sebesar 60% dari tinggi layar monitor
          // document.getElementsByClassName('table-wrapper')[0].style.height = "90vh";
        } catch (err) {
          tbody.innerHTML = `<tr><td colspan="13" class="text-center text-danger">Error: ${err.message}</td></tr>`;
          UI.hideSkeleton();
        } finally {
          this.loading = false;
          UI.hideSkeleton();
        }
      },

      renderTable: function (data, isReset = false, startIndex = 0) {
        const tbody = document.getElementById("employee-table-body");

        if (!data || data.length === 0) {
          if (isReset) {
            tbody.innerHTML =
              '<tr><td colspan="13" class="text-center py-3">No data available</td></tr>';
          }
          return;
        }

        if (isReset) {
          tbody.innerHTML = "";
        }

        let rowsHtml = "";
        data.forEach((row, i) => {
          const globalIndex = startIndex + i;
          rowsHtml += `
                    <tr class="clickable-row" data-index="${globalIndex}" id="row-employee-${row.employeeId}">
                        <td class="kolom-sticky-1 text-center">${row.employeeCode}</td>
                        <td class="kolom-sticky-2 cell-wrap">${row.employeeName}</td>
                        <td class="kolom-sticky-3 cell-wrap">${row.employeeNpwp || "-"}</td>
                        <td>${row.employeeNik || "-"}</td>
                        <td>${row.employeeGender || "-"}</td>
                        <td>${row.employeeBirthDate || "-"}</td>
                        <td>${row.employeePhone || "-"}</td>
                        <td>${row.employeeEmail || "-"}</td>
                        <td class="col-text">${row.employeeAddress || "-"}</td>
                        <td>${row.employeeDepartment || "-"}</td>
                        <td>${row.employeeJobPosition || "-"}</td>
                        <td>${row.employeeEmploymentType || "-"}</td>
                        <td>${row.employeeJoinDate || "-"}</td>
                        <td>${row.employeeSalaryType || "-"}</td>
                        <td>${this.rupiah(row.employeeBasicSalary) || "0"}</td>
                        <td>${this.rupiah(row.employeeDailyWage) || "0"}</td>
                        <td>${row.employeeBankName || "-"}</td>
                        <td>${row.employeeBankAccountNumber || "-"}</td>
                        <td>${row.employeeBankAccountName || "-"}</td>
                        <td>${row.employeeIsActive || "-"}</td>
                   </tr>`;
        });

        tbody.insertAdjacentHTML("beforeend", rowsHtml);

        if (!this.resizableInit) {
          this.makeColumnsResizable();
          this.resizableInit = true;
        }
      },

      rupiah: function (val) {
        return "Rp" + Number(val || 0).toLocaleString("id-ID");
      },

      makeColumnsResizable: function () {
        const table = document.getElementById("employee-table");
        const cols = table.querySelectorAll("th.resizer");

        cols.forEach((th) => {
          let startX, startWidth;

          th.addEventListener("mousedown", (e) => {
            startX = e.pageX;
            startWidth = th.offsetWidth;

            const onMouseMove = (e) => {
              const newWidth = startWidth + (e.pageX - startX);
              th.style.width = newWidth + "px";
            };

            const onMouseUp = () => {
              document.removeEventListener("mousemove", onMouseMove);
              document.removeEventListener("mouseup", onMouseUp);
            };

            document.addEventListener("mousemove", onMouseMove);
            document.addEventListener("mouseup", onMouseUp);
          });
        });
      },

      switchTabEmployee: function (type, row) {
        // Element Konten
        const viewInput = document.getElementById("view-input-employees");
        const viewList = document.getElementById("view-list-employees");

        // Element Tombol
        const btnInput = document.getElementById("btn-tab-input-employees");
        const btnList = document.getElementById("btn-tab-list-employees");

        if (type === "view-input-employees") {
          viewInput.style.display = "block";
          viewList.style.display = "none";

          btnInput.classList.add("active");
          btnInput.classList.remove("text-light");

          btnList.classList.remove("active");
          btnList.classList.add("text-light");

          this.rowData(row);
        } else {
          viewInput.style.display = "none";
          viewList.style.display = "block";

          btnInput.classList.remove("active");
          btnInput.classList.add("text-light");

          btnList.classList.add("active");
          btnList.classList.remove("text-light");
        }
      },

      closeEdit: function (e) {
        e.stopPropagation(); // Biar gak trigger click tabnya
        document.getElementById("li-tab-detail-employees").style.display =
          "none";
        this.switchTabEmployee("view-list-employees", "");
      },

      rowData: function (row) {
        if (!row) {
          console.warn("Data row tidak ditemukan atau undefined");
          return;
        }

        // Mapping antara ID element HTML dan property dari data 'row'
        const fields = {
          employee_id: row.employeeId,
          employee_code: row.employeeCode,
          employee_name: row.employeeName,
          employee_npwp: row.employeeNpwp,
          employee_nik: row.employeeNik,
          employee_gender: row.employeeGender,
          employee_birth_date: row.employeeBirthDate,
          employee_phone: row.employeePhone,
          employee_email: row.employeeEmail,
          employee_address: row.employeeAddress,
          employee_department: row.employeeDepartment,
          employee_job_position: row.employeeJobPosition,
          employee_join_date: row.employeeJoinDate,
          employee_salary_type: row.employeeSalaryType,
          employee_employment_type: row.employeeEmploymentType,
          employee_basic_salary: row.employeeBasicSalary, // gapok
          employee_daily_wage: row.employeeDailyWage, // gaji harian
          employee_bank_name: row.employeeBankName,
          employee_bank_account_number: row.employeeBankAccountNumber,
          employee_bank_account_name: row.employeeBankAccountName
        };

        // Isi secara otomatis dengan pengecekan safety
        Object.keys(fields).forEach((id) => {
          const el = document.getElementById(id);
          if (el) {
            el.value = fields[id] || ""; // Jika data null, isi string kosong agar tidak muncul tulisan "undefined"
          }
        });

        // Tampilkan tombol hapus
        // const btnHapus = document.getElementById("btn-hapus");
        // if (btnHapus) {
        //   btnHapus.style.display = "block";
        // }
      },

      toggleExcelMenu: function (e) {
        if (e) e.stopPropagation(); // Kunci utama agar menu tidak langsung tertutup saat tombol diklik
        const menu = document.getElementById("menu-excel-client");
        if (menu) {
          const isHidden =
            menu.style.display === "none" || menu.style.display === "";
          menu.style.display = isHidden ? "block" : "none";
        }
      },

      // Fungsi tambahan: Tutup menu kalau user klik di luar menu
      initDropdownListener: function () {
        window.addEventListener("click", function () {
          const menu = document.getElementById("menu-excel-client");
          if (menu) {
            menu.style.display = "none";
          }
        });
      },

      createEmployee: async function (formEl) {
        const searchInput = document.getElementById("search-employee-input");
        const formData = new FormData(formEl);
        const id = formData.get("employeeId");
        // 🔥 kalau backend butuh JSON
        const payload = Object.fromEntries(formData.entries());

        const msg = id ? "Updating data..." : "Saving data...";
        UI.showSkeleton("employee-table-body", 15);
        this.showErrors({}, formEl);
        try {
          ///api/v1/employees
          const result = id
            ? await api.put(`/api/v1/employees/${id}`, payload, msg)
            : await api.post(`/api/v1/employees`, payload, msg);

          if (id) {
            // 1. Ambil data terbaru hasil return dari Backend (biasanya result.data berisi object yang baru diupdate)
            const updatedRow = result.data;

            // 2. Update Array local agar saat di-klik lagi datanya sudah yang baru
            const index = this.allData.findIndex(
              (item) => item.employeeId === id,
            );

            if (index !== -1) {
              this.allData[index] = updatedRow;

              // 3. Update Baris Tabel secara langsung tanpa refresh
              this.updateRowUI(id, updatedRow);
            }
            document.getElementById("text-label-employee").textContent =
              "Data Baru";
            console.log("Update data...................")
          } else {
            this.findById("", true);
          }

          Swal.fire({
            title: "Sukses!",
            text: result.message,
            icon: "success",
          });

          const employeeIdEl = document.getElementById("employee_id");
          if (employeeIdEl) {
            employeeIdEl.value = "";
          }

          formEl.reset();
          this.generateCode();
          this.switchTabEmployee("view-list-employees", "");
          //   document.getElementById("btn-hapus").style.display = "none";
        } catch (err) {
          console.log("Full Error Object = ", err);
          const errors = err?.errors || err?.data?.errors;
          if (errors) {
            this.showErrors(errors, formEl);
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: err.message,
            });
          }
          UI.hideSkeleton();
        } finally {
          UI.hideSkeleton();
        }
      },

      updateRowUI: function (id, data) {
        const tr = document.getElementById(`row-employee-${id}`);
        if (!tr) return;
        // Update kolom-kolomnya (sesuaikan urutan <td> kamu)
        const cells = tr.cells;
        cells[0].textContent = data.employeeCode;
        cells[1].textContent = data.employeeName;
        cells[2].textContent = data.employeeNpwp;
        cells[3].textContent = data.employeeNik;
        cells[4].textContent = data.employeeGender;
        cells[5].textContent = data.employeeBirthDate;
        cells[6].textContent = data.employeePhone;
        cells[7].textContent = data.employeeEmail;
        cells[8].textContent = data.employeeAddress;
        cells[9].textContent = data.employeeDepartment;
        cells[10].textContent = data.employeeJobPosition;
        cells[11].textContent = data.employeeJoinDate;
        cells[12].textContent = data.employeeSalaryType;
        cells[13].textContent = data.employeeEmploymentType;

        // 🔥 format rupiah (pakai function tadi)
        cells[14].textContent = this.rupiah(data.employeeBasicSalary);
        cells[15].textContent = this.rupiah(data.employeeDailyWage);

        cells[16].textContent = data.employeeBankName;
        cells[17].textContent = data.employeeBankAccountNumber;
        cells[18].textContent = data.employeeBankAccountName;

        // 2. 🔥 SOLUSI HIGHLIGHT: Targetkan semua TD di dalam baris ini
        const allCells = tr.querySelectorAll("td");

        allCells.forEach((td) => {
          td.style.transition = "background-color 7s ease"; // Animasi halus
          td.style.backgroundColor = "#e8f5e9"; // Kuning highlight
        });

        // 3. Kembalikan ke warna semula setelah 1.5 detik
        setTimeout(() => {
          allCells.forEach((td) => {
            td.style.backgroundColor = ""; // Reset (kembali ke CSS asli)
          });
        }, 1500);
      },

      // delete: function () {
      //   const id = document.getElementById("client_id").value;
      //   if (!id) {
      //     showToast("warning", "Pilih data yang akan dihapus terlebih dahulu");
      //     return;
      //   }

      //   Swal.fire({
      //     title: "Konfirmasi Hapus",
      //     text: "Apakah Anda yakin ingin menghapus data ini? setuju atau batalkan.",
      //     icon: "warning",
      //     showCancelButton: true,
      //     confirmButtonColor: "#0092DC", // Biru EasyUI
      //     cancelButtonColor: "#e57373",
      //     confirmButtonText: "Ya, Hapus!",
      //     cancelButtonText: "Batal",
      //     // Agar kotak seperti EasyUI
      //     customClass: {
      //       popup: "border-easyui-blue",
      //       cancelButton: "btn-swal-cancel",
      //     },
      //   }).then((result) => {
      //     if (result.isConfirmed) {
      //       // Panggil fungsi delete data milikmu
      //       this.deleteData(id);
      //       // showLoading("Proses penghapusan dijalankan...");
      //     } else {
      //       console.log("Penghapusan dibatalkan.");
      //     }
      //   });
      // },

      // deleteData: async function (id) {
      //   const payload = {
      //     status: "0",
      //   };

      //   try {
      //     const rst = await api.put(
      //       `/api/v1/clients/updatestatus/${id}`,
      //       payload,
      //       "Menghapus data...",
      //     );

      //     showToast("success", rst.message);
      //     const employeeIdEl = document.getElementById("client_id");
      //     if (employeeIdEl) {
      //       employeeIdEl.value = "";
      //     }
      //     const form = document.getElementById("formEmployee");
      //     form.reset();
      //     this.generateCode();
      //     this.switchTabEmployee("view-list-employees", "");
      //     this.findById("", true);

      //     const btn = document.getElementById("btn-hapus");
      //     if (btn) btn.style.display = "none";
      //   } catch (error) {
      //     showToast("error", error.message);
      //   }
      // },

      showErrors: function (errors, formEl) {
        if (!formEl) return; // 🔥 guard biar gak error lagi

        // 🔥 reset hanya di form ini
        formEl
          .querySelectorAll(".is-invalid")
          .forEach((i) => i.classList.remove("is-invalid"));

        formEl
          .querySelectorAll('[id^="err-"]')
          .forEach((e) => (e.innerText = ""));

        // 🔥 set error
        for (const field in errors) {
          const input = formEl.querySelector(`[name = "${field}"]`);
          const errorEl = formEl.querySelector("#err-" + field);

          if (input) input.classList.add("is-invalid");
          if (errorEl) errorEl.innerText = errors[field];
        }
      },
    };

    window.employeeModel = employeeModel;
    employeeModel.init();
  </script>
</div>